{{#unless isEditable}}  {{!-- non-editable version --}}

  <strong>#{{pokemon.nationalPokeNum}} : {{pokemon.name}}</strong>

  <button {{action 'toggleExpanded'}}>
    {{#unless isExpanded}}Info {{else}} Less{{/unless}}
  </button>

  {{#if isExpanded}}
    <p> Generation: {{pokemon.generation}} </p>
    <p> Type: {{pokemon.typeOne}} {{#if twoTypes}}/ {{pokemon.typeTwo}}{{/if}} </p>
    <button {{action 'toggleEditable'}}>Edit</button>
    <button {{action 'destroyPokemon'}}>Delete</button>
  {{/if}}

{{else}}  {{!-- editable version --}}

  <strong>#{{input valueBinding='pokemon.nationalPokeNum'}} : {{input valueBinding='pokemon.name'}}</strong>
  <p> Generation: {{input valueBinding='pokemon.generation'}} </p>
  <p> Type: {{input valueBinding='pokemon.typeOne'}} / {{input valueBinding='pokemon.typeTwo'}}</p>
  <button {{action 'toggleExpanded'}}>Collapse</button>
  <button {{action 'toggleEditable'}}>Confirm</button>
  <button {{action 'destroyPokemon'}}>Delete</button>

{{/unless}}  {{!-- end of isEditable --}}
