{{#unless isEditable}}  {{!-- non-editable version --}}

  <strong>№ {{pokemon.nationalPokeNum}} : {{pokemon.name}}</strong>
  <button {{action 'toggleExpanded'}}>
    {{#unless isExpanded}}Info {{else}} Less{{/unless}}
  </button>

  {{#if isExpanded}}
    <p> Type: {{pokemon.typeOne}} {{#if twoTypes}}/ {{pokemon.typeTwo}}{{/if}} </p>
    <p> Species: {{pokemon.species}} </p>
    <p> Height: {{pokemon.height}} m</p>
    <p> Weight: {{pokemon.weight}} kg </p>
    <p> Abilities: {{pokemon.abilityOne}} {{#if twoAbilities}}/ {{pokemon.abilityTwo}}{{/if}} </p>
    <p> Generation: {{pokemon.generation}} </p>

    <button {{action 'toggleEditable'}}>Edit</button>
    <button {{action 'destroyPokemon'}}>Delete</button>
  {{/if}}

{{else}}  {{!-- editable version --}}

  <strong>№ {{input valueBinding='pokemon.nationalPokeNum'}} : {{input valueBinding='pokemon.name'}}</strong>

  <p> Type: {{input valueBinding='pokemon.typeOne'}} {{#if twoTypes}}/ {{input valueBinding='pokemon.typeTwo'}}{{/if}} </p>
  <p> Species: {{input valueBinding='pokemon.species'}} </p>
  <p> Height: {{input valueBinding='pokemon.height'}} m</p>
  <p> Weight: {{input valueBinding='pokemon.weight'}} kg </p>
  <p> Abilities: {{input valueBinding='pokemon.abilityOne'}} {{#if twoAbilities}}/ {{input valueBinding='pokemon.abilityTwo'}}{{/if}} </p>
  <p> Generation: {{input valueBinding='pokemon.generation'}} </p>

  <button {{action 'toggleExpanded'}}>Collapse</button>
  <button {{action 'toggleEditable'}}>Confirm</button>
  <button {{action 'destroyPokemon'}}>Delete</button>

{{/unless}}  {{!-- end of isEditable --}}
