<h4>№ {{item.id}} : {{item.name}}
  <button {{action 'toggleExpanded'}}>
    {{#unless isExpanded}}Info {{else}} Less{{/unless}}
  </button>
</h4>

{{#if isExpanded}}
  <ul>
    <li> Category: {{item.category}} </li>
    <li> Effect: {{item.effect}} </li>
  </ul>
{{/if}}
